<app-header></app-header>
<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Connect with our farmers</h5>

          <p class="light">We provide you an opportunity to directly impact the lives of our farmers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Grow your money</h5>

          <p class="light">We provide you with an alternative medium for investment and an additional source of income for living.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Social Impact Investing</h5>

          <p class="light">We are a social impact investment tool that helps you wherein you help our farmers but at the same time while also earning for your future.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Become a pioneer of hope for farmers.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../assets/images/background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="center-align light">From its early days, the Company has served clients from a range of industries, majority of them being in Financial Services. 
        <br> Additionally, we have clients engaged in manufacturing, distribution, professional services, and software development.

        <br>Our clients are our trusted business partners, driving all that we do. 
        <br>Vértere is in business to provide the highest quality and best value services and solutions to our clients. We ensure complete satisfaction.
        <br> We are proud of our record of repeat engagements with our clients, as well as our clients’ sponsorship as we grow with new clients.</p>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>